@media only screen { 

#card_profile{
    background: white;
    
}
body{
    background: #f2f2f2;
    
}

#name{
    
}
    #empid{
        font-size: 12px;
}
    #empdes{
    font-size: 12px;
}

.cent{
    display: flex;
   
}
    
}