.header{
    background: #084369;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.home_text{
    color: white;
    font-size: 50px;
    margin-top: 150px;
    font-weight: 200;
    letter-spacing: 5px;
}

.prim_button{
    width: 100%;
   
    margin: 20 0 10 0;
    padding: 10 0 10 0;
   display: flex;
    color: white;
    justify-content: center;
    background: orange;
}
.prim_button:hover{
     background: darkorange;
}
.p1{
    font-size: 11pt;
}
.p2{
    font-size: 14pt;
}
.p3{
    font-size: 16pt;
}
.p4{
    font-size: 18pt;
}
.p5{
    font-size: 20pt;
}
.p6{
    font-size: 22pt;
}