@font-face {
    font-family: 'MR';
    src: url('../fonts/manrope-regular.woff2') format('woff2'),
         url('../fonts/manrope-regular.woff') format('woff'),
         url('../fonts/manrope-regular.ttf') format('truetype');
  }
  
  h1,h2,h3,h4,h5,h6,p,a,li,div{
  font-family: 'MR',sans-serif;
  }